@media screen and (max-width: 575.98px) {  

  .banner-welcome {
    font-size: 2rem;
  }

  .banner-present {
    font-size: 4rem;
  }

  .show-text {
    height: 1.5rem;
  }

  .banner-present .show-text {
    font-size: 2.2rem;
  }

  .banner-location {
    font-size: 3rem;
  }

  .introduction{
    font-size: 1.3rem;
  }

  .banner-address {
    flex-direction: column;
    gap: 2rem;
  }

  .banner-address__item {
    border: none;
    padding: 0 2rem;
    font-family: Poppins-Light;
    color: #b6b4b4;
    border-left: 1px solid #ffff;
  }

  .banner-address__item:last-child {
    border-left: 1px solid #ffff;
  }
}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .links-wrapper{
    display: flex;
  }

  .banner-address__item{
  font-size: 1.5rem;
  }

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body{
    background: linear-gradient(to Right, black 50%,  white 50%);
  }

  .top-line,
.middle-line,
.bottom-line {
  background-color: black;
}

.follow p {
  font-size: 1.5rem;
}

.space-line {
  margin-left: 3.8rem;
}

.socials {
  margin-left: 2.6rem;
  gap: 1rem;
}

  .banner-wrapper{
    flex-direction: row;
  }

  .show-text {
    height: 3rem;
  }

  .banner-present .show-text {
    font-size: 3rem;
  }

  .banner-address__item{
    font-size: 1.2rem;
    }

  

.introduction-wrapper{
  color: black;
}

.introduction-wrapper img{
  box-shadow: 0px 0px 50px rgba(104, 104, 104, 0.822) ;
}

.introduction{
  font-size: 1.5rem;
}

.messengers :nth-child(1){
  stroke: black;
}

.messengers :nth-child(2){
  stroke: black;
}


 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
