@media screen and (max-width: 575.98px) {
  .nav {
    position: relative;
  }
  .cover {
    background-color: black;
    z-index: 1;
  }

  .header-menu {
    position: absolute;
    flex-direction: column;
    margin-top: 20rem;
    margin-left: -7rem;
  }

  .header-menu__link {
    color: white;
    font-size: 2rem;
  }

  .banner-welcome {
    font-size: 2rem;
  }

  .banner-present {
    font-size: 4rem;
  }

  .show-text {
    height: 1.5rem;
  }

  .banner-present .show-text {
    font-size: 2.2rem;
  }

  .banner-location {
    font-size: 3rem;
  }

  .introduction {
    font-size: 1.3rem;
  }

  .banner-address {
    flex-direction: column;
    gap: 2rem;
  }

  .banner-address__item {
    border: none;
    padding: 0 2rem;
    font-family: Poppins-Light;
    color: #b6b4b4;
    border-left: 1px solid #ffff;
  }

  .banner-address__item:last-child {
    border-left: 1px solid #ffff;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header-menu__link {
    color: white;
  }

  .links-wrapper {
    display: flex;
  }

  .banner-address__item {
    font-size: 1.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .skill-content__right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    margin-top: 5rem;
    color: white;
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background: linear-gradient(to Right, black 50%, white 50%);
  }

  .top-line,
  .middle-line,
  .bottom-line {
    background-color: black;
  }

  .header-menu__link {
    color: black;
  }

  .link-color {
    color: white;
  }

  .follow p {
    font-size: 1.5rem;
  }

  .space-line {
    margin-left: 3.8rem;
  }

  .socials {
    margin-left: 2.6rem;
    gap: 1rem;
  }

  .banner-wrapper {
    flex-direction: row;
  }

  .show-text {
    height: 3rem;
  }

  .banner-present .show-text {
    font-size: 3rem;
  }

  .banner-address__item {
    font-size: 1.2rem;
  }

  .introduction-wrapper {
    color: black;
  }

  .introduction-wrapper img {
    box-shadow: 0px 0px 50px rgba(104, 104, 104, 0.822);
  }

  .introduction {
    font-size: 1.5rem;
  }

  .messengers :nth-child(1) {
    stroke: black;
  }

  .messengers :nth-child(2) {
    stroke: black;
  }

  /* skills */
  .skill-wrapper {
    flex-direction: row;
  }

  .skills-right__title {
    display: block;
    margin-top: -6rem;
    text-transform: capitalize;
    font-family: Poppins-black;
    font-size: 3rem;
    text-align: center;
  }

  .skill-content__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 7rem;
    margin-top: 5rem;
    color: black;
    text-align: center;
  }

  .outer {
    border: 1px solid rgb(121, 121, 121);
  }

  .inner {
    border: 1px solid rgb(141, 141, 141);
  }

  #number {
    color: rgb(58, 58, 58);
  }

  /* footer */
  .copy p {
    color: black;
    text-align: right;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
