@import url(./reset.css);
@import url(./bootstrap-grid.min.css);
@import url(./fonts.css);
@import url(./animation.css);

:root {
  --page-main-font: Poppins-Regular;
}

/* Component */

/* Helper */
.bg-title {
  font-family: Poppins-black;
  font-weight: 900;
  font-size: 8rem;
  text-transform: capitalize;
  color: black;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: rgb(83, 82, 82);
}

.fg-title {
  font-family: Poppins-black;
  font-weight: 500;
  font-size: 4.5rem;
  text-transform: capitalize;
  color: white;
  margin-top: -9.7rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: default;
}

body {
  position: relative;
  font-family: var(--page-main-font);
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Header */

.cover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover.active {
  display: block;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  width: 10.7rem;
  height: 5rem;
  z-index: 2;
}

/* Menu icon */
.header-menu__icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  z-index: 2;
}

.top-line {
  width: 4rem;
  height: 0.2rem;
  border-radius: 0.2rem;
}

.middle-line {
  width: 3rem;
  height: 0.2rem;
  border-radius: 0.2rem;
}
.bottom-line {
  width: 4rem;
  height: 0.2rem;
  border-radius: 0.2rem;
}

.top-line,
.middle-line,
.bottom-line {
  background-color: white;
}

.middle-line.active {
  display: none;
}

/* Nav */
.nav {
  display: none;
  z-index: 1;
}

.nav-active {
  display: flex;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header-menu__link {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.header-menu__link:hover {
  letter-spacing: 0.2rem;
}
.link-color {
  color: white;
}

/* 
   --> Main
*/

/* Banner */
.banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 1s linear;
}

.left-banner {
  background: url(../img/yz/YZ-1.png) no-repeat center;
  background-size: cover;
  color: white;
}

.present-wrapper {
  padding: 13rem 2rem;
  background-color: rgba(0, 0, 0, 0.856);
}

.banner-welcome {
  font-family: Poppins-light;
  font-size: 2.5rem;
  line-height: 0;
}

.banner-present {
  font-family: Poppins-black;
  font-size: 6rem;
  font-weight: 700 !important;
}

/*  Banner Animation text*/
.show-text {
  display: inline-block;
  text-align: left;
  height: 3.5rem;
  vertical-align: 1rem;
}

.banner-present .show-text {
  font-family: Poppins-Thin;
  font-size: 4rem;
}

.show-text div {
  font-size: 0;
  opacity: 0;
  position: absolute;
  font-weight: 300;
}

.show-text > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.show-text > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.show-text > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}

.banner-location {
  font-family: Poppins-light;
  font-size: 4rem;
  line-height: 1;
}

.banner-button {
  margin-top: 2rem;
  border: none;
  width: 12.8rem;
  padding: 1rem 0;
  background-color: white;
}

.banner-button a {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.banner-button a:hover {
  letter-spacing: 0.2rem;
  transition: all 0.5s ease-in;
}

/* Banner address */
.banner-address {
  padding-top: 9rem;
  display: flex;
}

.banner-address__item {
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  padding: 0 2rem;
  font-family: Poppins-Light;
  color: #b6b4b4;
}

.banner-address__item:last-child {
  border: none;
}

.banner-address__title {
  font-family: Poppins-Regular;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  color: white;
}

/* Banner photo */

/* 
    --> Left side follow links
*/
.links-wrapper {
  height: 100vh;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -1.2rem;
  overflow: hidden;
  display: none;
}

.follow {
  margin-left: 0.7rem;
}

.follow p {
  font-size: 1.2rem;
  text-transform: capitalize;
  transform: rotate(90deg);
}

.space-line {
  width: 0.1rem;
  height: 8rem;
  background-color: white;
  margin-left: 3.7rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

.socials {
  display: inherit;
  flex-direction: inherit;
  margin-left: 2.6rem;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

/* 
  --> Right banner
*/

.introduction-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  color: white;
  padding: 2rem 2rem;
  animation: appear 1s linear;

}

.introduction-wrapper img {
  width: 22rem;
  border: 1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 200%;
  box-shadow: 0px 0px 50px rgba(2, 56, 25, 0.822);
}

.introduction {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.call-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-me p {
  margin-top: 2rem;
  text-transform: capitalize;
  font-family: Poppins-black;
  font-size: 3rem;
}

.messengers :nth-child(1) {
  margin-right: 0.5rem;
}

.messengers :nth-child(2) {
  margin-left: 0.5rem;
}

/* 
    --->Skills
*/

.skills {
  padding-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;

}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear linear;
  animation: appear 1s linear;

}

.skills-content__left {
  padding: 5rem 2rem 2rem;
  color: white;
}

.skills-content__left-skill {
  padding-top: 2rem;
}

.skills-content__left-skill h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.progress-bar {
  background-color: white;
  width: 80%;
  height: 1rem;
  margin-top: 0.5rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.html-progress-bar {
  background-color: gray;
  width: 0;
  height: 1rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  animation: html-skill-show 2s linear forwards;
}

.css-progress-bar {
  background-color: gray;
  width: 0;
  height: 1rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  animation: css-skill-show 2s linear forwards;
}

.js-progress-bar {
  background-color: gray;
  width: 0;
  height: 1rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  animation: js-skill-show 2s linear forwards;
}

.bootstrap-progress-bar {
  background-color: gray;
  width: 0;
  height: 1rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  animation: boot-skill-show 2s linear forwards;
}

.skill-percent {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-right: -15px;
  border: 1px solid gray;
  background-color: black;
  font-size: 1rem;
  color: white;
}

/* skill right */
.skills-right__title {
  display: none;
}

.skill-content__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 7rem;
  margin-top: 5rem;
  color: white;
  text-align: center;
}

.skill-item {
  width: 14rem;
  height: 14rem;
  position: relative;
}

.outer {
  width: 14rem;
  height: 14rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1.9rem;
}

.inner {
  width: 10rem;
  height: 10rem;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#number {
  color: white;
}

#nodejs-percent {
  width: 14rem;
  height: 14rem;
  stroke-width: 20px;
  stroke: gray;
  fill: none;
  stroke-dasharray: 424px;
  stroke-dashoffset: 424px;
  position: absolute;
  top: 0;
  left: 0;
  animation: node-skill-show 2s ease-in-out forwards;
}

#express-percent {
  width: 14rem;
  height: 14rem;
  stroke-width: 20px;
  stroke: gray;
  fill: none;
  stroke-dasharray: 424px;
  stroke-dashoffset: 424px;
  position: absolute;
  top: 0;
  left: 0;
  animation: express-skill-show 2s ease-in-out forwards;
}

#nextjs-percent {
  width: 14rem;
  height: 14rem;
  stroke-width: 20px;
  stroke: gray;
  fill: none;
  stroke-dasharray: 424px;
  stroke-dashoffset: 424px;
  position: absolute;
  top: 0;
  left: 0;
  animation: nextjs-skill-show 2s ease-in-out forwards;
}

#mongodb-percent {
  width: 14rem;
  height: 14rem;
  stroke-width: 20px;
  stroke: gray;
  fill: none;
  stroke-dasharray: 424px;
  stroke-dashoffset: 424px;
  position: absolute;
  top: 0;
  left: 0;
  animation: mongodb-skill-show 2s ease-in-out forwards;
}

.skill-item__name {
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
}

/* 
    --> Portfolio
*/
.portfolio {
  margin-top: 10rem;
}

/* 
    --> Footer
*/
.copy {
  width: 100%;
  height: 2rem;
  padding: 12rem 0 4rem;
  text-align: left;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.copy span {
  font-family: nasalization;
}
